/**
 * This file provides the main design styles for the page content.
 */

/* undo "clever" styling from fileuploader.js */
.qq-upload-button {
    cursor: inherit !important;
    direction: inherit !important;
}
.qq-upload-button input {
    font-family: inherit !important;
    font-size: 1em !important;
    margin: inherit !important;
    opacity: 1 !important;
    padding: inherit !important;
    position: static !important;
}

.JSpopup {
    border: 1px solid __border__;
}
