/**
 * This file provides the main design styles for the
 * bits that surround the content.
 */

/* highlight selected tool */
.mode_admin a.action.admin,
.mode_login a.action.login,
.mode_register a.action.register,
.mode_profile a.action.profile,
.mode_recent a.action.recent,
.mode_index a.action.index,
.mode_media a.action.media,
.mode_revisions a.action.revs,
.mode_backlink a.action.backlink,
.mode_subscribe a.action.subscribe {
    font-weight: bold;
}

#dokuwiki__footer {
    text-align: center;
}

#dokuwiki__footer .doc {
    text-align: right;
}
[dir=rtl] #dokuwiki__footer .doc {
    text-align: left;
}

/* site, page and user tools */
.tools > div {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-right: 1em;
}
[dir=rtl] .tools > div {
    padding-left: 1em;
    padding-right: 0;
    text-align: right;
}
