/* =Dropdown
----------------------------------------------- */

.dropdown {
    position: relative;
    vertical-align: middle;

    a,button {
        text-decoration: none;
        padding: 4px;
    }
    a[aria-expanded="true"],button[aria-expanded="true"] {
        background-color: @ini_theme_color;
    }
    .dropdown-toggle::after {
        font-family: "bootstrap-icons";
        content: "\F229";
        vertical-align: middle;
        margin-left: 8px;
    }
    .dropdown-menu {
        display: none;
        position: absolute;
        top: 32px;
        right: 0px;
        background-color: @ini_text_alt;
        color: @ini_background;
        padding: 8px;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 0px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        min-width: 200px;

        li {
            list-style-type: none;
        }
    }
}
