/**
 * This file provides style changes for small screens.
 */

@media only screen and (max-width: 42em) {

#dokuwiki__aside {
    width: 100%;
    float: none;
    margin-bottom: 1.4em;
}
#dokuwiki__aside > div {
    margin: 0;
}

.hasSidebar #dokuwiki__content {
    float: none;
    margin-left: 0;
    margin-right: 0;
}
.hasSidebar #dokuwiki__content > div {
    margin-left: 0;
}
[dir=rtl] .hasSidebar #dokuwiki__content > div {
    margin-right: 0;
}

#dokuwiki__header .a11y.skip,
#dokuwiki__aside hr.a11y {
    left: auto !important;
    top: auto !important;
    width: auto !important;
    height: auto !important;
    position: static !important;
}
[dir=rtl] #dokuwiki__header .a11y.skip,
[dir=rtl] #dokuwiki__aside hr.a11y {
    right: auto !important;
    left: 1em !important;
}

.tools {
    text-align: left;
}
[dir=rtl] .tools {
    text-align: right;
}


} /* /@media */